body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.headline-card__container{
  text-align: left;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.headline-card__container.selected {
  background-color: #fafafa;
}

.news-reader__container {
  border-left: 1px solid #ddd;
  height: 100%;
}
