body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.headline-card__container{
  text-align: left;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.headline-card__container.selected {
  background-color: #fafafa;
}

.source-card__container{
  text-align: center;
  cursor: pointer;
}

.source-card__container .desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 5rem;
}

.news-reader__container {
  border-left: 1px solid #ddd;
  min-height: 100vh;
}

.news-reader__container .readers-view {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px 50px;
  font-size: 18px;
  text-align: left;
  line-height: 1.5em;
  height: 100vh;
  overflow: scroll;
}

.news-reader__container .readers-view h2 {
  line-height: 1.5em;
}

.news-reader__container .readers-view hr {
  border: 0;
  border-top: 1px solid #ddd;
  height: 1px;
}

.news-reader__container .readers-view img {
  width: 100%;
}

.news-reader__container .readers-view figure {
  font-size: 13px;
  color: #888;
  margin: 20px 0;
}

iframe#reader {
  height: 100vh;
}

hr {
  margin: 0;
  border: 0;
  border-top: 1px solid #ddd;
  height: 1px;
}